/* .box:first-child{
    background-color: brown;

} */
/* .box::first-line{
    color: red;
} */
/* .boxes *{
color: blue;
border: 2px solid red; 
 } */
/* [data-color="primary"] {
    margin-top:45px;
    border:2px solid black;

    
} */
/* .box:nth-child(even){
    background-color: blue;
} */
/* .box:nth-last-child(1){
    background-color: brown;
} */
/* .boxes::after{
    content: "I am Rishi" ;
} */
.boxes::before{
    content: "I am from Jajarkot ";
}
::selection{
    color: rgb(255, 98, 0);
    background-color: rgb(27, 18, 5);
}
.box::first-letter{
    color: peru;
    font-size: x-large;
}
input::placeholder{
    color: rgb(13, 13, 144);
}