.container{
    border: 2px solid black;
    display: grid;
    grid-template-areas: "nav nav nav "                 
                        " side article article  "
                        "footer footer footer" ;
                        
    width: 80vw;
}
.item{
    border: 2px solid red;
    /* height: 55px;
    width: 55px; */
}

.item-1{
    grid-area: nav;
    background-color: aqua;
}
.item-2{
    grid-area: side;
    background-color: azure;
}
.item-3{
    grid-area: article;
    background-color: rgb(255, 255, 11);
}
.item-4{
   
    grid-area:footer;
    background-color: rgb(121, 121, 254);
}
.item-5{
    background-color: brown;
}
